{% extends 'base.html' %}


<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}メールアドレス変更{% endblock %}</title>
</head>
<body>
{% block content %}
<div class="container mt-4">
    <h2>メールアドレス変更画面</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">変更</button>
    </form>

    <a href="{% url 'home' %}">ホーム画面へ</a>
</div>
{% endblock %}
</body>
</html>