{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% if favorites %}
        <div class="favorites-grid">
            {% for favorite in favorites %}
                <div class="favorite-item">
                    <!-- フードの画像 -->
                    <img src="{{ favorite.food.foods_image_path }}" alt="{{ favorite.food.foods_name }}" class="food-image">

                    <!-- フード情報 -->
                    <div class="food-info">
                        <strong>{{ favorite.food.foods_name }}</strong><br>
                        <span>{{ favorite.food.price }} 円</span>
                    </div>

                    <!-- 削除ボタン -->
                    <form method="post" action="{% url 'favorite_delete' favorite.id %}">
                        {% csrf_token %}
                        <button type="submit" class="favorite-delete-button">削除</button>
                      </form>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>お気に入りに登録されたフードはありません。</p>
    {% endif %}
    <a href="{% url 'home' %}" class="home-btn">ホーム画面へ</a>
{% endblock %}
