{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}商品検索{% endblock %}</title>
    {% block head %}
    <style>
        #foodResults {
            max-height: 200px;
            overflow-y: auto;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    </style>      
    {% endblock  %}
</head>
<body>
{% block content %}
      <div class="container mt-3">
        <h1>商品名を検索</h1>
        <input type="text" id="foodsearch" class="form-control" placeholder="商品名を検索">
        <ul id="foodResults" class="list-group mt-3"></ul>
        <button class="btn btn-secondary mt-3" onclick="window.close()">閉じる</button>
    
    </div>
{% endblock %}

{% block scripts %}
  <script>
        document.addEventListener('DOMContentLoaded', () =>{
            const foodSearchInput = document.getElementById('foodsearch');
            const foodResults = document.getElementById('foodResults');

            foodSearchInput.addEventListener('input', function() {
                const query = this.value.trim();
                if (query) {
                    fetch(`/food-search/?q=${query}`)
                        .then(response => response.json())
                        .then(data => {
                            foodResults.innerHTML = '';
                            data.forEach(food => {
                                const li = document.createElement('li');
                                li.className = 'list-group-item list-group-item-action';
                                li.textContent = food.name;
                                li.onclick = () => {
                                    window.opener.document.getElementById('id_food').value = food.name;
                                    window.close();
                                };
                                foodResults.appendChild(li);
                            });
                        });
                } else {
                    foodResults.innerHTML = '';
                }
            });
        });
    </script>
{% endblock %}

</body>
</html>