{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}マイレビュー一覧{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>マイレビュー一覧画面</h1>
    {% if reviews %}
        <ul>
            {% for review in reviews %}
                <li style="margin-bottom: 20px;">
                    <!-- レビューの情報 -->
                     <div>
                        <!-- 日時 -->
                        {{ review.updated_at|date:"Y年m月d日 H時i分" }}<br>
                        <!-- 評価 -->
                        {{ review.rating }}
                        {% for _ in ""|ljust:review.rating %}
                            ★
                        {% endfor %}<br>
                        <!-- コメント -->
                        {{ review.comment }}
                     </div>

                    <!-- レビューの画像 -->
                    {% for image in review.images.all %}
                    <img src="{{ image.review_image_path.url }}" alt="レビュー画像" style="width: 150px; height: auto;">
                    {% empty %}
                        <p>画像はありません</p>
                    {% endfor %}<br>
                   
                    <!-- レビュー詳細へのリンク -->
                    <a href="{% url 'review_detail' review.pk %}">もっと見る</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>投稿したレビューはありません。</p>
    {% endif %}

    <a href="{% url 'home' %}">ホーム画面へ</a>
{% endblock %}
</body>
</html>