{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ランキング{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>総合ランキング</h1>


    <h1>メインディッシュランキング</h1>
    
    
    <h1>軽食ランキング</h1>
    
    
    <h1>サイドメニューランキング</h1>
    
    
    <h1>キッズメニューランキング</h1>
    
    
    <h1>デザートランキング</h1>
    
    
    <h1>ドリンクランキング</h1>
    
    
    <h1>アルコールランキング</h1>

    <a href="{% url 'home' %}">ホーム画面へ</a>
{% endblock %}
</body>
</html>