{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ランキング{% endblock %}</title>
</head>
<body>
{% block content %}
    {% for category_name, foods in grouped_foods.items %}
        <h2>カテゴリ： {{ category_name }}</h2>
        <ul>
            {% for food in foods %}
                <li>{{ food.foods_name }} - 評価： {{ food.average_rating }}</li>
            {% endfor %}
        </ul>
    {% endfor %}

    <a href="{% url 'home' %}">ホーム画面へ</a>
{% endblock %}
</body>
</html>