{% extends 'base.html' %}
{% load static %}

{% block title %}レビュー一覧{% endblock %}

{% block content %}
    <h1>レビュー一覧</h1>

    <div>商品名：{{ food.name }}</div>
    <div>レビュー平均点：{{ average_rating|floatformat:1 }} / 5</div>

    {% if reviews %}
        <div class="review-list">
            {% for review in reviews %}
                <div class="review-box">
                    <div class="review-content">
                        <div class="review-header">
                            <span class="review-user">👤{{ review.user.nickname }}さん</span>
                        </div>
                        <p class="review-rating">
                            {% for i in "12345" %}
                                {% if forloop.counter <= review.rating %}
                                ★
                                {% else %}
                                ☆
                                {% endif %}
                            {% endfor %}
                        </p>
                        <p class="review-comment">{{ review.comment }}</p>
                        <a href="{% url 'review_detail' review.pk %}" class="more-link">もっと見る</a>
                    </div>

                    {% if review.images.all %}
                        <div class="review-images">
                            {% for image in review.images.all|slice:":4" %}
                                <img src="{{ image.review_image_path.url }}" alt="レビュー画像" class="thumbnail">
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>レビューはまだありません。</p>
    {% endif %}

    <a href="{% url 'home' %}">ホーム画面へ</a>
{% endblock %}
