{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}レビュー閲覧{% endblock %}</title>
</head>
<body>
{% block content %}
    <h1>レビュー閲覧画面</h1>
    <div>商品名：</div>
    <div>レビュー平均点</div>
    <ul>
        {% for review in reviews %}
            <li>
                <div>{{ review.user }}</div>
                <div>評価： {{ review.rating }} / 5</div>
                <p>{{ review.comment }}</p>

                <!-- レビューに関連する画像の表示 -->
                <div>
                    {% for image in review.images.all %}
                        <img src="{{ image.review_image_path.url }}" alt="レビュー画像" style="max-width: 300px;">
                    {% endfor %}
                </div>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'home' %}">ホーム画面へ</a>
{% endblock %}
</body>
</html>